h2 {
	font-size: 5.0vmin;
}

h3 {
	font-size: 3.2vmin;
}

h4 {
	font-size: 2.8vmin;
}

p {
	font-size: 2.0vmin !important;
}

body {
	font-size: 2.0vmin !important;
	background: url(/img/texture.png);
}

#main-container .page-header {
	margin-top: 10px !important;
}

.api-info .glyphicon {
	font-size: 3.8vmin !important;
}

.api-info .info {
	font-size: 3.8vmin !important;
}

.bookmarks{
	height: 60vh;
	overflow: auto;
}

.search-results {
	height: 60vh;
	overflow: auto;
}

.search-result {
	margin-top: 19px;
}

.word-menu {
	position: absolute;
	z-index: 1000;
	right: 20px;
	top: 10px;
}

.word-menu .glyphicon {
	margin-left: 22px;
	font-size: 3.5vmin;
	cursor: pointer;
}

.word {
	border-radius: 10px;
	border: 1px solid #D0D0D0;
	background: beige;
}

.glyphicon {
	float: right;
	cursor:pointer;
}
.throbber-loader{
    margin-top: 9% !important;
    margin-left: 28% !important;
    margin-left: 42%;
}