<a class="btn btn-primary" ui-sref="search">Search&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-search"></span></a>
<div class="search-result row">
	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>

	<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 word">
	
		<div class="caption">
			<h4>{{::bookmark.wordInfo.word}}</h4>
			<p>{{::bookmark.wordInfo.description}}</p>
			<span class="word-menu">
				<span class="glyphicon glyphicon-play-circle" ng-click="playAudio(bookmark.wordInfo.audio_url)"></span>		
			</span>
		</div>
	</div>
	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
</div>
