<!-- Bookmarks Template -->
<!-- Title and Options for bookmarks -->
<div class="page-header">
	<h4 align="center">
		Bookmarks&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-success" type="button" href="dictionary/bookmarks/download" ng-if="bookmarks && bookmarks.length>0"> <span
				class="glyphicon glyphicon-download-alt"></span> &nbsp;
		</a>
		<button class="btn btn-danger" type="button" ng-click="clearBookmarks()"  ng-if="bookmarks && bookmarks.length>0">
			<span class="glyphicon glyphicon-trash"></span>
			&nbsp;
		</button>
	</h4>

</div>

<!-- Bookmarked Words-->
<div class="bookmarks">
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="bookmark in bookmarks | orderBy:'-bookmarkId'"><span class="text">{{bookmark.wordInfo.word}}</span> <span
				class="glyphicon glyphicon-align-justify" ng-click="selectWord(bookmark.wordInfo)" ui-sref="bookmark({bookmarkId:bookmark.bookmarkId})"></span></li>
	</ul>
</div>
<div class="options"></div>