<!-- Header Template -->
<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
<div class="header-title col-lg-8 col-md-7 col-sm-7 col-xs-7">
	<h2>LetsVenture Dictionary</h2>
	<p>A quest to design advance,feature rich online vocabulary builder</p>
</div>

<!-- To be hidden on small devices -->
<div class="api-info col-lg-2 col-md-3 col-sm-3 hidden-xs">
	<ul class="list-group">
		<li class="list-group-item"><span class="text">API Hits</span> <span class="badge">{{apiHits}}</span></li>
		<li class="list-group-item"><span class="text">Total Bookmarks</span> <span class="badge">{{bookmarksCount}}</span></li>
	</ul>
</div>

<!-- To be shown on small devices -->
<div class="api-info col-xs-3 visible-xs">
	<p>
		<span class="glyphicon glyphicon-flash"></span>
		&nbsp;&nbsp;
		<span class="info">{{apiHits}}</span>
	</p>
	<p>
		<span class="glyphicon glyphicon-bookmark"></span>
		&nbsp;&nbsp;
		<span class="info">{{bookmarksCount}}</span>
	</p>

</div>
<div class="col-lg-1 col-md-1 col-sm-1 col-xs-0"></div>