<!-- Search Template -->

<!-- Pagination from A to Z Since our Dictionary API only accepts A to Z characters as parameters -->
<div class="pagination">
	<div class="btn-group btn-group-sm hidden-xs hidden-sm">
		<button class="btn btn-primary" ng-repeat="alphabet in alphabets" ng-click="searchWords(alphabet)">{{alphabet}}</button>

	</div>
	<div class="btn-group btn-group-xs visible-xs visible-sm">
		<button class="btn btn-primary" ng-repeat="alphabet in alphabets" ng-click="searchWords(alphabet)">{{alphabet}}</button>

	</div>

</div>
<!-- Search form to search in the words loaded from Dictionary API -->
<div class="page-header" ng-if="words && words.length>0">
	<div class="search-form">
			<input type="text" ng-model="searchData.text" class="form-control search-input" placeholder="Search">
	</div>
</div>

<!-- Search Results Container -->
<div class="search-results">
	<!-- Show No Results if they are empty -->
	<div class="search-result row" ng-if="!words || words.length==0">
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
		<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 word" ng-if="!searchRunning">		
			<div class="caption">
				<p></p>
				<p></p>
				<p>No Search Results. Select an alphabet to search</p>
				<p></p>
				<p></p>
			</div>		
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
		<div class="throbber-loader" ng-if="searchRunning">Loading…</div>
	</div>
	<!-- Searched Words-->
	<div class="search-result row" ng-repeat="wordInfo in words | filter:startsWith:searchTextLocal">
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>

		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 word">
			<div class="caption">
				<h4>{{::wordInfo.word}}</h4>
				<p>{{::wordInfo.description}}</p>
				<span class="word-menu">
					<span class="glyphicon glyphicon-play-circle" ng-click="playAudio(wordInfo.audio_url)"></span>
					<span class="glyphicon glyphicon-bookmark" ng-if="!wordInfo.bookmarked" ng-click="saveBookmark(wordInfo)"></span>				
				</span>
			</div>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
	</div>
</div>